doctype html
html(lang="en")
    head
        include partials/meta&links
            include css/404.css
    body
        include partials/header
        #container
            h2 Oops! Page not found.
            h1 404
            p We can't find the page you're looking for.
            a(href="/") Go back home