doctype html
html(lang="en")
    head
        title About
        include partials/meta&links
            include css/home.css
    body
        include partials/header
        #container
            h4(align='center') This is the about page.
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque sapiente odit, at enim ipsam dicta temporibus veritatis.