doctype html
html(lang="en")
    head
        include partials/meta&links
    body
        include partials/header
        #container
            h3(align='center' style='color:red;margin:10px;') ERROR
            h5(align='center') #{error}