doctype html
html(lang="en")
    head
        include partials/meta&links
            include css/home.css
    body
        include partials/header
        #container
            h3(align='center') Home Page
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe minima magnam, dicta facere, dolorem expedita laboriosam velit, nulla maxime consequuntur tempora reiciendis vero a aliquam. Excepturi fugiat veniam, totam officiis, soluta praesentium! Ea, ipsa!
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe minima magnam, dicta facere, dolorem expedita laboriosam velit, nulla maxime consequuntur tempora reiciendis vero a aliquam. Excepturi fugiat veniam, totam officiis, soluta praesentium! Ea, ipsa!
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe minima magnam, dicta facere, dolorem expedita laboriosam velit, nulla maxime consequuntur tempora reiciendis vero a aliquam. Excepturi fugiat veniam, totam officiis, soluta praesentium! Ea, ipsa!