nav#nav
    ul
        li
            i.fas.fa-home
            a(href='/') Home
        li
            i.fas.fa-user
            a(href='/about') About
        li
            i.fas.fa-envelope
            a(href='/contact') Contact
        li
            i.fas.fa-address-card
            a(href='/acc') Account